.App {
  display: grid;
  grid-template-columns:
    [left-column] minmax(1rem, auto)
    [main-column] minmax(350px, 1200px)
    [right-column] minmax(1rem, auto);
  grid-template-rows: [nav-row] auto [main-row] 1fr [footer-row] auto;
  min-height: 100%;
}

header {
  grid-column: main-column;
  grid-row: nav-row;
}

h1 {
  font-size: 2rem;
}

h2 {
  font-size: 1.5rem;
  margin-top: 1.5rem;
}

main {
  grid-column: main-column;
  grid-row: main-row;
  height: 100%;
}

footer {
  grid-column: main-column;
  grid-row: footer-row;
}

.json_input {
  width: 100%;
  height: 300px;
  resize: vertical;
}

.MessageBox {
  background: var(--inverse-bg-color);
  color: var(--inverse-txt-color);
  padding: 1rem;
  width: 100%;
}
