.App {
  display: grid;
  grid-template-columns:
    [left-column] minmax(0.5rem, auto)
    [main-column] minmax(350px, auto)
    [right-column] minmax(0.5rem, auto);
  grid-template-rows: [nav-row] auto [main-row] 1fr [footer-row] auto;
  min-height: 100%;
}

header {
  grid-column: main-column;
  grid-row: nav-row;
}

h1 {
  font-size: 2rem;
}

h2 {
  font-size: 1.5rem;
}

h3 {
  font-size: 1.25rem;
}

header {
  display: grid;
  justify-items: start;
  align-items: center;
  grid-template-columns:
    [heading] 1fr
    [themebutton] auto;

  button {
    height: auto;
  }
}

footer {
  border-top: 1px solid var(--grey-baseline);
  margin-top: 1rem;
  padding: 1rem 0;
  grid-column: main-column;
  grid-row: footer-row;
}

.json_input {
  width: 100%;
  height: 300px;
  resize: vertical;
}

.MessageBox {
  margin-top: 0.5rem;
  background: var(--grey-baseline);
  color: var(--blackish);
  padding: 1rem;
}

.actionsMenu .Button {
  margin-right: 0.5rem;
}

details summary:hover {
  cursor: pointer;
}

main {
  grid-column: main-column;
  grid-row: main-row;
  height: 100%;
  min-width: 0;
  // x-small to medium screens: single column main layout
  // large and xl screens: two column main layout
  @media only screen and (min-width: 1800px) {
    display: grid;
    grid-template-columns:
      [left-column] 1fr
      [right-column] 1fr;
    gap: 1rem;
  }
}

.RightGroup {
  // x-small screens: no grid
  // small screens: two columns for the form group
  // medium screens: three columns for the form group
  // large screens: main layout has split to two, revert back to two columns for the form group
  // xl screens: main layout is in two, but we have room for three columns again for the form group

  @media only screen and (min-width: 700px) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: min-content min-content min-content;
    justify-items: stretch;
    align-items: start;
    gap: 1rem;
  }

  @media only screen and (min-width: 1400px) and (max-width: 1800px) {
    grid-template-columns: 1fr 1fr 1fr;
  }

  // implied two-column 1fr 1fr between 1800px and 2300px

  @media only screen and (min-width: 2300px) {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

.RenderResults {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  align-items: center;
}
