@import url(reset.css);
@import url(colors.scss);

html,
body {
  font-size: 14pt;
  font-family: Iosevka, Helvetica, Arial, sans-serif;
  line-height: 1.75;
  height: 100%;
  accent-color: var(--main-txt-color);
}

#root {
  height: 100%;
}

* {
  box-sizing: border-box;
  font-family: Iosevka, Helvetica, Arial, sans-serif;
}

::selection {
  background-color: var(--grey-baseline);
}

hr {
  border: none;
  border-top: 1px solid var(--grey-baseline);
  width: 100%;
}
