.Button,
.fileInputLabel {
  appearance: none;
  border: none;
  padding: 0.25rem;
  background: var(--grey-baseline);
  color: var(--blackish);
  text-align: center;
  font-size: 0.75rem;
  height: 2rem;
  display: block;
}

.Button:hover,
.fileInputLabel:hover {
  background: var(--grey-lightened);
  background: var(--green) !important;
  cursor: pointer;
}

.Button:active,
.fileInputLabel:active {
  margin-left: 0.5rem;
}

#previewButton {
  background-color: var(--orange);
}
