.Button {
  appearance: none;
  border: none;
  padding: 0.5rem;
  background: var(--grey-baseline);
  color: var(--blackish);
}

.Button:hover {
  background: var(--grey-lightened);
  cursor: pointer;
}

.Button:active {
  background: var(--grey-darkened);
}
