.InputError,
.OptionsForm .InputError,
.InputError:focus,
.OptionsForm .InputError:focus {
  accent-color: var(--pink);
  border: 2px solid var(--pink);
}

input,
select,
input[type="checkbox"] {
  background: var(--grey-baseline);
  color: var(--blackish);
  box-shadow: none;
  border: none;
  border-radius: 0;
  grid-column: input;
  height: 2rem;
  margin: 0;
  padding: 0.25rem;
  box-sizing: border-box;
}

input[type="checkbox"] {
  background: var(--grey-baseline);
  border: none;
  justify-self: end;
  height: 2rem;
  width: 2rem;
}

input::selection,
select::selection {
  background-color: var(--whiteish);
}

input:active,
input:focus,
select:active,
select:focus {
  box-shadow: none;
  border: none;
}

.fileInput {
  display: none;
}

.fileInputLabel,
.OptionsForm .fileInputLabel {
  grid-column: label / input;
}
